/*
 * noService Sass - v0.1.1
 *
 * The complimentary scss for noService JS
 */
 
 $tt_width:         240px;
 $tt_color:         #363535;
 $tt_bg_color:      #ffffff;
 $tt_border_style:  solid;
 $tt_border_width:  2px;
 $tt_border_color:  #bbbbbb;
 $tt_border_radius: 4px;
 $tt_position_top:  115%;

.noservice {
    position:relative;
    cursor:pointer;
}

.ns_tt {
    width:$tt_width;
    padding:8px;
    height:auto;
    background-color:$tt_bg_color;
    border-width:$tt_border_width;
    border-style:$tt_border_style;
    border-color:$tt_border_color;
    border-radius:$tt_border_radius;
    position:absolute;  
    top:$tt_position_top; 
    color:$tt_color;
    display:none;
    z-index:9999;

    &:after, 
    &:before {
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    
    &:after {
        border-color: rgba(207, 207, 207, 0);
        border-bottom-color: #CFCFCF;
        border-width: 4px;
        margin-left: -4px;
    }
    
    &:before {
        border-color: rgba(187, 187, 187, 0);
        border-bottom-color: #BBBBBB;
        border-width: 6px;
        margin-left: -6px;
    }
}

.nstt_left {
    left:0;
    
    &:after, 
    &:before {
        left:15%;
    }
}

.nstt_right {
    right:0;
    margin-left:$tt_width;
    
    &:after, 
    &:before {
        left: 85%;
    }
}

.active {
    display:block;   
}